[Desktop Entry]
Version=1.0
Name=Spotify
Name[ar]=Spotify
Name[bn]=স্পটিফাই 
Name[de]=Spotify
Name[es]=Spotify
Name[fr]=Spotify
Name[hi]=Spotify
Name[id]=Spotify
Name[pt_BR]=Spotify
Name[ro]=Spotify
Name[th]=Spotify
Name[vi]=Spotify
Name[zh_CN]=音乐播放器
Name[zh_TW]=Spotify
Comment=Listen to music using Spotify
Exec=/usr/bin/eos-install-app-helper --app-id com.spotify.Client --remote eos-apps --required-archs x86_64 %U
Terminal=false
Icon=eos-spotify
Type=Application
