Source: eos-application-tools
Section: admin
Priority: standard
Maintainer: Endless OS Team <maintainers@endlessos.org>
Build-Depends: debhelper-compat (= 13),
	dh-autoreconf,
	libglib2.0-dev
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: eos-install-app-helper
Architecture: amd64
Depends: ${misc:Depends},
	flatpak,
	gir1.2-flatpak-1.0,
	gir1.2-glib-2.0,
	python3,
	python3-gi,
	python3-systemd
Description: Wrapper application for desktop launchers
 Small package to implementing desktop launchers for certain apps on Endless OS
 when installed, or redirecting the user to the App Center otherwise.

Package: eos-flatpak-autoinstall
Architecture: all
Replaces: eos-install-app-helper (<< 1.0.4)
Breaks: eos-install-app-helper (<< 1.0.4)
Description: data files of automatic Flatpak operations for upgrades
 These JSON files are used by the updater (since Endless OS 3.4.0) to enumerate
 the Flatpak install, uninstall and update operations which should be carried
 out automatically when the OS is upgraded.
